img {
  max-width: 300px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}


.about-text {
  text-align: justify;
  margin-top: 40px;
}

.image {
  text-align: center;
}



@media (min-width: 400px) {

  .image img {
    max-width: 90%;
  }

  .image {
    margin: 10px;
  }
}


@media (min-width: 600px) {
  main {
    padding: 40px 80px 80px 80px;
  }
}



@media (min-width: 1200px) {


  .about-text p {
    font-size: 18px;
  }

  main {
    padding: 40px 80px 80px 80px;
  }


}