
main {
  padding: 20px;
}


.blog-post a {
  text-decoration: none;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.search-container input {
  border-radius: 5px;
  border: transparent;
  width: 200px;
  padding-left: 4px;
  height: 26px;
}

.search-container button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}

.blog-post {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-post h2 {
  margin-bottom: 10px;
  color: white;
}

.blog-post p {
  line-height: 1.5;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1C1C1C;
  color: white;
  border: none;
  cursor: pointer;
}

.load-more:hover {
  background-color: white;
  color: #1C1C1C;
}


.card-image {
  max-width: 280px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.card-image img {
  text-align: center;
}


.card-title {
  text-decoration: none;
  color: #1C1C1C;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  font-family: "magnify";
}

.post-card {
  text-align: center;
  background: rgba(28, 28, 28, 0.6);
  color: white;
  padding-bottom: 10px;
}

.card-published {
  font-weight: 200;
}

main h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

main h2 {
  text-transform: uppercase;
  font-weight: 400;
}


@media (min-width: 800px) {

  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .search-container input {
    width: 300px;
  }

  .blog-post :hover {
    background-color: #1C1C1C;
  }


}

@media (min-width: 870px) {

  main {
    padding: 40px;
  }
  
  .blog-post {
    margin: 10px;
  }


}

@media (min-width: 1200px) {
  button {
    font-size: 18px;
  }

  main {
    padding: 40px 80px 80px 80px;
  }
}

