main {
  padding: 20px;
}

.contact-img img {
  max-width: 280px;
}

.contact-img {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 320px;
  margin: 50px auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: white;
  color: #1c1c1c;
}



.container label {
  font-weight: 400;
}

textarea#message {
  height: 100px;
}


@media (min-width: 650px) {
  .contact-img img {
    max-width: 400px;
  }

  .contact-text {
    max-width: 400px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 1000px) {
  main {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  main h1 {
    grid-column: 1/4;
    grid-row: 1;
  }

  .contact-text {
    grid-column: 1/4;
    grid-row: 2;
    max-width: 800px;
  }

  .contact-img {
    max-width: 400px;
    grid-column: 1/2;
    grid-row: 3;
  }

  .container {
    grid-column: 2/4;
    grid-row: 3;
  }
  .container input {
    width: 450px;
  }

  .container textarea {
    width: 450px;
  }
}


@media (min-width: 1200px) {
  

  .contact-img img {
    max-width: 500px;
  }

  .contact-text p {
    font-size: 18px;
  }

  .container label {
    font-size: 18px;
  }
  
  button {
    font-size: 18px;
  }

  .container {
    padding-left: 60px;
  }
  .container input {
    width: 500px;
  }

  .container textarea {
    width: 500px;
  }


  main {
    padding: 40px 80px 80px 80px;
  }
}
