

.hero img {
  max-width: 100%;
  padding: 10px;
}

.hero {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.card a {
  text-decoration: none;
}

.carousel-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 25px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.carousel-nav:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.latest-posts {
  padding: 20px;
  justify-content: center;
}

.card {
  max-width: 150px;
  height: 250px;
  margin: 6px;
  text-align: center;
  background: rgba(28, 28, 28, 0.6);
  display: flex;
  justify-content: center;
}

.card-image {
  max-width: 150px;
  padding-bottom: 20px;
}

.card-title {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  text-align: center;
  height: 38px;
}



.lp-section h1 {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  max-width: 100%;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.card-published {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: 200;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
}

.space {
  max-width: 100%;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

@media (min-width: 600px) {

  main {
    padding: 20px;
  }

  .hero img {
    padding: 0;
  }
}



@media (min-width: 985px) {

 .lp-section h1 {
  max-width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
 }

 .card :hover {
  background-color: #1c1c1c;
 }
  
 .post-card a {
  width: 200px;
  margin: 20px;
}

.carousel-wrapper {
  padding: 40px;
}

.card {
  width: 200px;
  max-width: 200px;
  height: 300px;
}

.card-image {
 max-width: 200px;
}

.post-card h2 {
  font-size: 16px;
}

.post-card p {
  font-size: 14px;
}

}

@media (min-width: 1210px) {

  main {
    padding: 0 80px 80px 80px;
  }

  .lp-section {
    margin-left: 60px;
    margin-right: 60px;
  }

}

@media (min-width: 1400px) {
  .lp-section {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 1600px) {
  .lp-section {
    margin-left: 100px;
    margin-right: 100px;
  }
}

